<div class="modal-header">
    <h3>{{modal_title}}</h3>
</div>
<form class="form-horizontal" ng-submit="submit(congregation)" name="myForm" novalidate>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': myForm.number.$invalid && !myForm.number.$pristine }">
            <label class="col-sm-3 control-label">Numer zboru</label>
            <div class="col-sm-9">
                <input type="number" class="form-control input-sm" name="number" ng-model="congregation.number" >
                <p ng-show="myForm.number.$invalid && !myForm.number.$pristine" class="help-block">Numer zboru musi być liczbą.</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': myForm.name.$invalid && !myForm.name.$pristine }">
            <label class="col-sm-3 control-label">Nazwa zboru*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control input-sm" name="name" ng-model="congregation.name" required>
                <p ng-show="myForm.name.$invalid && !myForm.name.$pristine" class="help-block">Nazwa zboru jest wymagana.</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <p class="text-muted" style="float: left;">* - oznacza pola wymagane</p>
        <input type="submit" class="btn btn-primary" value="{{modal_submit}}" ng-disabled="myForm.$invalid"/>
        <input type="button" class="btn btn-warning" value="Anuluj" ng-click="cancel()"/>
    </div>
</form>