<div class="modal-header">
    <h3>{{modal_title}}</h3>
</div>
<div class="modal-body">
    <p class="text-muted">Wszystkich: {{prepared_lectures.length}} | Przefiltrowanych: {{(prepared_lectures|filter:search).length}}</p>

    <filter-row label="numer" name="'number'" search="search" predicate="predicate" reverse="reverse"></filter-row>
    <filter-row label="tytuł" name="'title'" search="search" predicate="predicate" reverse="reverse"></filter-row>
    <filter-row label="data przedstawienia przez brata" name="'last_speaker_lecture_date'" search="search" predicate="predicate" reverse="reverse"></filter-row>
    <filter-row label="data przedstawienia w zborze" name="'last_lecture_date'" search="search" predicate="predicate" reverse="reverse"></filter-row>

    <hr>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 clear"
             ng-repeat="prepared in prepared_lectures | filter:search | orderBy:predicate:reverse">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p><strong>{{prepared.number}}. {{prepared.title}}</strong></p>
                    <p><span class="text-muted">mówca: </span>{{prepared.last_speaker_lecture_date}}</p>
                    <p><span class="text-muted">zbór: </span>{{prepared.last_lecture_date}}</p>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-danger btn-xs" ng-click="delete_prepared(prepared)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="input-group" style="width: 100%">
                <ui-select ng-model="$parent.lecture" theme="bootstrap">
                    <ui-select-match placeholder="Wybierz lub wyszukaj...">{{$select.selected.number}}. {{$select.selected.title}}</ui-select-match>
                    <ui-select-choices repeat="lecture in lectures | filter: {number_title: $select.search}">
                        <div ng-bind-html="lecture.number + '. ' + lecture.title | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="lecture = undefined" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" class="btn btn-success" ng-click="add_prepared(lecture); lecture = undefined">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <input type="button" class="btn btn-primary" value="Zamknij" ng-click="cancel()"/>
</div>
