<header-row title="Lista mówców" add="open_new_speaker" add-title="Dodaj osobę" data="speakers_list" search="search"></header-row>

<filter-row label="nazwisko i imię" name="'name'" search="search" predicate="predicate" reverse="reverse"></filter-row>
<filter-row label="telefon" name="'phone'" search="search" predicate="predicate" reverse="reverse"></filter-row>
<filter-row label="email" name="'email'" search="search" predicate="predicate" reverse="reverse"></filter-row>
<filter-row label="przywilej" name="'privilege'" search="search" predicate="predicate" reverse="reverse"></filter-row>
<filter-row label="uwagi" name="'note'" search="search" predicate="predicate" reverse="reverse"></filter-row>
<filter-row label="zbór" name="'congregation'" search="search" predicate="predicate" reverse="reverse"></filter-row>
<filter-row label="data wykładu" name="'last_lecture_date'" search="search" predicate="predicate" reverse="reverse"></filter-row>

<hr>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 clear"
		 ng-repeat="speaker in speakers_list | filter:search | orderBy:predicate:reverse">
		<div class="panel panel-default"
			 ng-class="{'past_events': !niepuste(speaker.phone) && !niepuste(speaker.email)}">
			<div class="panel-body">
				<p>
					<strong>{{speaker.name}}</strong>
					<br>
					<span class="text-muted">
						{{speaker.privilege}}<span ng-show="speaker.privilege && speaker.congregation">, </span>
						{{speaker.congregation}}
					</span>
				</p>
				<p>
					<span class="text-muted">tel:</span>
					<a ng-href="tel:{{speaker.phone}}">{{speaker.phone | tel}}</a>
					<br>
					<span class="text-muted">email:</span>
					<a ng-href="mailto:{{speaker.email}}" target="_top">{{speaker.email}}</a>
				</p>
				<p>
					<span class="text-muted" ng-show="speaker.last_lecture_date">ostatni wykład: </span>
					{{speaker.last_lecture_date}}
				</p>
				<p>{{speaker.note}}</p>
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-primary" ng-click="open_edit_speaker(speaker)">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-danger" ng-click="open_delete_speaker(speaker)">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</div>
				<button type="button" class="btn btn-success" ng-click="open_prepared_lectures(speaker)">Przygotowane</button>
			</div>
		</div>
	</div>
</div>