<div class="modal-header">
    <h3>{{modal_title}}</h3>
</div>
<form class="form-horizontal" ng-submit="submit(speaker)" name="myForm" novalidate>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': myForm.first_name.$invalid && !myForm.first_name.$pristine }">
            <label class="col-sm-3 control-label">Imię*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control input-sm" name="first_name" ng-model="speaker.first_name" required>
                <p ng-show="myForm.first_name.$invalid && !myForm.first_name.$pristine" class="help-block">Imię jest wymagane.</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': myForm.last_name.$invalid && !myForm.last_name.$pristine }">
            <label class="col-sm-3 control-label">Nazwisko*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control input-sm" name="last_name" ng-model="speaker.last_name" required>
                <p ng-show="myForm.last_name.$invalid && !myForm.last_name.$pristine" class="help-block">Nazwisko jest wymagane.</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': myForm.phone.$invalid && !myForm.phone.$pristine && myForm.phone.$error.pattern}">
            <label class="col-sm-3 control-label">Telefon</label>
            <div class="col-sm-9">
                <input type="text" class="form-control input-sm" name="phone" ng-model="speaker.phone" ng-pattern="/^[0-9]{9}$/">
                <p ng-show="myForm.phone.$invalid && !myForm.phone.$pristine && myForm.phone.$error.pattern" class="help-block">Numer telefonu powinien składać się z 9 cyfr.</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': myForm.email.$invalid && !myForm.email.$pristine}">
            <label class="col-sm-3 control-label">Email:</label>
            <div class="col-sm-9">
                <input type="email" class="form-control input-sm" name="email" ng-model="speaker.email">
                <p ng-show="myForm.email.$invalid && !myForm.email.$pristine" class="help-block">Podaj poprawny email.</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Przywilej</label>            
            <div class="btn-group col-sm-9">
                <label class="btn btn-default btn-sm" ng-model="speaker.privilege" btn-radio="'?'">?</label>
                <label class="btn btn-default btn-sm" ng-model="speaker.privilege" btn-radio="'sługa'">sługa</label>
                <label class="btn btn-default btn-sm" ng-model="speaker.privilege" btn-radio="'starszy'">starszy</label>
                <label class="btn btn-default btn-sm" ng-model="speaker.privilege" btn-radio="'nie usługuje'">nie usługuje</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Uwagi</label>
            <div class="col-sm-9">
                <input type="text" class="form-control input-sm" name="note" ng-model="speaker.note">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Zbór</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <ui-select ng-model="$parent.speaker.congregation" theme="bootstrap">
                        <ui-select-match placeholder="Wybierz lub wyszukaj...">{{$select.selected.name}} ({{$select.selected.number}})</ui-select-match>
                        <ui-select-choices repeat="congregation in congregations | filter: {number_name: $select.search}">
                            <div ng-bind-html="congregation.name + ' (' + congregation.number + ')' | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button type="button" ng-click="$parent.speaker.congregation = undefined" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <p class="text-muted" style="float: left;">* - oznacza pola wymagane</p>
        <input type="submit" class="btn btn-primary" value="{{modal_submit}}" ng-disabled="myForm.$invalid"/>
        <input type="button" class="btn btn-warning" value="Anuluj" ng-click="cancel()"/>
    </div>
</form>