body {
  margin: 0;
  background-color: #f2f1ef;
}
.container {
  margin: 12px;
  margin-top: 76px;
}
div .active-route {
  background-color: rgba(0, 0, 0, 0.08);
}
.card {
  height: 100%;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
}
div .card-header {
  padding-bottom: 0;
}
div .card-content {
  padding-top: 0;
}
.card-content > h3 {
  font-size: 18px;
}
div .empty-card {
  background-color: #E3F2FD;
}
div .past-card {
  background-color: #F5F5F5;
}
div .past-card span {
  color: #757575;
}
.toolbar-title {
  flex: 1;
}
div .fab {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 10;
}
.input-data {
  width: 100%;
}
.divider {
  height: 32px;
}
.form-date-picker {
  width: 50%;
}
ul .list-item {
  padding-left: 0;
  padding-right: 0;
}
li .add-prepared {
  padding-right: 60px;
}
.spinner {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
