doctype html
html(lang="pl")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title="Planer wykładów"
    link(href="style.css" rel="stylesheet")
  body
    div(id="app")
    script(src="app.dist.js")
